<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently working as Co-founder & CTO @
      <a class="underline-link" href="https://www.withgale.com/" target="_blank">Gale</a> enabling HSA & FSA payments for consumers in US. 
      
      <!-- I 
      <a class="underline-link" href="https://www.acemoneytransfer.com/" target="_blank">ACE Money Transfer</a> after completing three awesome six-month co-ops at
      <a class="underline-link" href="https://us.mullenlowe.com/" target="_blank">Islamabad, Pakistan.</a>,
      <a class="underline-link" href="https://starry.com/" target="_blank">Starry</a>, and
      <a class="underline-link" href="https://www.apple.com/music/" target="_blank">Apple Music</a>.  -->
    </p>

    <p>
      I am working in Fintech industry for past 9+ years building Digital payment solutions, digital assets platform, crypto exchange, money transfer applications, e-money products, integrations with acquirers, cross border integrations with leading banks in 100+ countries.

I have vast experience in launching digital products including Online Money Transfer Apps, compliance solutions, sanction screening systems, AML screening solutions, credit card security, e-KYC, fraud monitoring, financial accounting, revenue programs, BNPL products,  data warehousing, and more.

Specialties: Product Strategy, Product Leadership, Product Development, Product Management, Product Marketing, Go-to-market, Product Launch
    </p>

    

    <!-- {% include employment-status.html %} -->
  </div>
</section>
