<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently working as Manager Technology @
      <a class="underline-link" href="https://www.acemoneytransfer.com/" target="_blank">ACE Money Transfer</a> managing and building a digital bank with some awesome people. 
      
      <!-- I 
      <a class="underline-link" href="http://www.ccis.northeastern.edu/" target="_blank">Northeastern University</a> after completing three awesome six-month co-ops at
      <a class="underline-link" href="https://us.mullenlowe.com/" target="_blank">MullenLowe U.S.</a>,
      <a class="underline-link" href="https://starry.com/" target="_blank">Starry</a>, and
      <a class="underline-link" href="https://www.apple.com/music/" target="_blank">Apple Music</a>.  -->
    </p>

    <p>
      A passionate engineer working in Fintech industry for past 7 years building Digital payments solutions, money transfer solutions, e-money products, integrations with acquirers, cross border integrations with top banks in 90+ countries. I have worked with a growing financial company in the UK to expand their operations in Europe, Canada, and Australia, the digital products I have built are responsible for processing millions of dollars across borders each month.
    </p>

    

    <!-- {% include employment-status.html %} -->
  </div>
</section>
